<div>Rochambeau!</div>
<div>Round: <span name="round"></span></div>
<div>Message: <span name="message"></span></div>
<div class="controls">
	<button onclick="rochambeau.play('rock');">rock</button>	
	<button onclick="rochambeau.play('paper');">paper</button>
	<button onclick="rochambeau.play('scissors');">scissors</button>
</div>
<div>
	Action: <span name="action"></span>
	, State: <span name="state"></span>
<div>
	<label for="players">Players:</label>
	<ul name="players"></ul>
</div>