<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-treeview.min.css"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div id="tabs" class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="home_panel">
          Home
          </div>
          <div role="tabpanel" class="tab-pane" id="rooms_panel">
            Rooms
            <ul class="apps rooms" id="rooms"></ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="players_panel">
            Players
            <ul class="apps players" id="players"></ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="games_panel">
            Games
            <ul class="apps games" id="games"></ul>
        </div>
        </div>
      <div class="row">
        <ul class="log" id="log"></ul>
      </div>
    </div>

    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/dialog-polyfill.js"></script>

    <script src="/javascripts/game/util.js"></script>
    <script src="/javascripts/game/ui.js"></script>
    <script src="/javascripts/game/base.js"></script>

  </body>
</html>
